.main-navigation {
// 	clear: both;
// 	display: inline-block;
// 	float: left;
// 	width: 100%;
//	font-size: $font-size-sm;
// 	line-height: 1.5;
	text-align: left;
//	@include media-breakpoint-down(md) {
// 		width: 100%;
//	}

	ul {
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
		float: left;

		ul {
			@include media-breakpoint-down(md) {
				position: static;
				background: none;
			}
// 			@include media-breakpoint-up(md) {
// 				background: #fff;
// 				float: left;
// 				text-align: left;
// 				position: absolute;
// 				top: 2.3rem;
// 				left: -999em;
// 				z-index: 99999;
// 			}

// 			ul {
// 				@include media-breakpoint-up(md) {
// 					left: -999em;
// 					top: 0;
// 				}
// 			}

			li {
				@include media-breakpoint-down(md) {
					background: none;
				}
				@include media-breakpoint-up(lg) {
					background: $gray-lightest;
				}
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
			}

			a {
				@include media-breakpoint-up(md) {
					width: 255px;
				}
				&:hover,
				&.focus {
					background: none;
					@include media-breakpoint-up(lg) {
						background: darken($cyan, 15%);
						color: #fff;
					}
				}
			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 210px;
			top: 0px;
			@include media-breakpoint-up(xl) {
				left: 255px;
			}
		}
	}

	li {
// 		float: left;
// 		position: relative;
		width: 100%;
	  @include media-breakpoint-down(md) {
			padding: 0 .8rem;
	  }
// 	  @include media-breakpoint-down(sm) {
// 			padding: 0 .8rem;
// 	    width: 100%;
// 	  }

// 		&:hover > a,
// 		&.focus > a {
// 		}
	}

	a {
		color: $body-color;
// 		display: block;
// 		text-decoration: none;
		padding: 0;
		@include media-breakpoint-down(md) {
// 			padding: .5rem 0;
// 			border-bottom: 1px solid $gray-lighter;
			border-bottom: none;
		}
		&:hover {
			color: $gray-light;
		}
	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}
}

///* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
//
// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {
	@include media-breakpoint-down(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.home .site-main &,
	.archive .site-main & {
		margin: 0;
	}

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 		a::before {
// 			content: "\003C";
// 			margin-right: .25rem;
// 		}
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 		a::after {
// 			content: "\003E";
// 			margin-left: .25rem;
// 		}
// 	}
}

#primary-menu {	
	@include media-breakpoint-down(md) {
		margin-left: -.8rem;
	}
	@include media-breakpoint-up(lg) {
		display: block !important;
		margin-bottom: .5rem;
	}
	& > li:first-child {
		@include media-breakpoint-down(md) {
			margin-top: .5rem;
		}
	}
}

.menu-area {
	display: block;
	@include media-breakpoint-down(md) {
		display: none;
	}
}

.menu {
	font-size: 1.375rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 500;
	color: $cyan;
	@include media-breakpoint-down(md) {
		font-size: 1.125rem;
	}
	a {
		color: $cyan;
		padding: .5rem .8rem;
		&:hover {
			color: $cyan;
			@include media-breakpoint-up(lg) {
				background: darken($cyan, 15%);
				color: #fff;
			}
		}
	}
}